# Environment variables
.env

# Virtual environment
.venv/
venv/
env/
ENV/

# PyCharm
.idea/
*.iml

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
*.egg
*.egg-info/
dist/
build/

# Database
*.db
*.sqlite3

# OS files
.DS_Store
Thumbs.db

# Logs
*.log